
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
}

:root {
/* -------------------------------------------------------------------------- */
/*                                COLOR PALETTE                               */
/* -------------------------------------------------------------------------- */
  /* primary colors */
  --primary: #003f5c;
  --secondary: #dead00;
  --light: #e9eff3;
  --dark: #001320;
  /* faded colors */
  --lightFaded: #ffffff48;
  --secondFaded: #ff91009a;
  --darkFaded: #00192b8c;
  /* mono colors */
  --black: rgb(0, 0, 0);
  --darkGray: rgb(43, 43, 43);
  --gray: rgb(112, 112, 112);
  --lightGray: rgb(189, 189, 189);
  --white: rgb(255, 255, 255);

  /* misc */
  --textColor: rgb(0, 0, 0);

/* -------------------------------------------------------------------------- */
/*                                 TYPOGRAPHY                                 */
/* -------------------------------------------------------------------------- */

  /* fonts */
  --fira: 'Fira Sans Condensed', sans-serif;
  --mont: 'Montserrat', sans-serif;
  --mono: 'Roboto Mono', monospace;
  --lobster: 'Lobster', cursive;
  --roboto: 'Roboto Condensed', sans-serif;
}


/* -------------------------------------------------------------------------- */
/*                                 ANIMATIONS                                 */
/* -------------------------------------------------------------------------- */

/* pulse */
@keyframes pulse-animation {
  0% {
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
  }
  100% {
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0);
  }
}
.pulse {
  animation: pulse-animation 2s infinite;
}

/* pulse #2 */
@keyframes pulse-animation2 {
  10% {
    box-shadow: 0px 0px 0px 0px rgb(0, 47, 85);
  }
  100% {
    box-shadow: 0px 0px 15px 50px rgba(0,0,0,0);
  }
}
.pulse2 {
  animation: pulse-animation2 5.5s infinite;
}

/* arrow */
@keyframes arrow {
  0% {
    opacity: 1;}
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);}
  }
.arrow,
.arrow:before {
  position: absolute;
  left: 50%;}

.arrow {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}
.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation: arrow 1s infinite;
}
/* text fill */
@keyframes textfill {
  0% {
    -webkit-clip-path: var(--from);
            clip-path: var(--from);
  }
  100% {
    -webkit-clip-path: var(--to);
            clip-path: var(--to);
    color: var(--textColor);
  }
}

/* nav dropdown */

@keyframes dropDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
.dropMenu {
  animation: dropDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

/* rotate menu */

@keyframes rotateMenu {
  0% {
    opacity: 0;
    transform: rotateX(-90deg)
  }
  70% {
    transform: rotateX(20deg)
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg)
  }
}
.rotateMenu {
  animation: rotateMenu 300ms ease-in-out forwards;
  transform-origin: top center;
}

/* -------------------------------------------------------------------------- */
/*                                   BUTTONS                                  */
/* -------------------------------------------------------------------------- */

/* pill button */

.btn-pill {
  min-width: 8rem;
  height: 2.2rem;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  border-radius: 20px;
  border: 2px solid var(--primary);
  background: var(--primary);
}
.btn-pill:hover {
  background: var(--secondary);
  color: var(--primary);
  border-color: var(--secondary);
}
.btn-pill i {
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: var(--secondary);
  border-radius: 50%;
  margin-left: 1.2rem;
}
.btn-pill:hover i {
  background-color: var(--primary);
  color: white;
}

/* pill button reversed */

.btn-pill-2 {
  width: 10rem;
  height: 1.5rem;
  color: black;
  padding: 8px 10px;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  border-radius: 40px;
  border: 2px solid var(--secondary);
  background: var(--secondary);
  text-transform: capitalize;
}
.btn-pill-2:hover {
  background: var(--primary);
  color: var(--light);
  border-color: var(--primary);
}
.btn-pill-2 i {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--primary);
  border-radius: 50%;
}
.btn-pill-2:hover i {
  background-color: var(--secondary);
  color: black;
}

/* button retro */

.btn-retro {
  min-width: 32rem;
  width: 10rem;
  height: 50px;
  color: #fff;
  padding: 5px 10px;
  font-family: var(--mont);
  font-weight: 700;
  font-size: 1.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid var(--lightFaded);
  color: var(--secondary);
  background: transparent;
}
.btn-retro:hover {
  color: var(--light);
}
.btn-retro:hover:after {
  top: 0;
  left: 0;
}
.btn-retro:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: var(--dark);
}
.btn-retro i {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--primary);
  border-radius: 20%;
}
.btn-retro:hover i {
  background-color: var(--secondary);
  color: black;
}

/* slide pill button */

.btn-pill-slide {
  min-width: 30rem;
  height: 60px;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  font-weight: bold;
  font-size: 2rem;
  font-family: var(--fira);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  z-index: 0;
  background: rgb(0, 0, 0);
  overflow: hidden;
  border: 2px solid #000000;
  color: #ffffff;
}
.btn-pill-slide:hover {
  color: rgb(0, 0, 0);
  border: 2px solid #ffc919;
}
.btn-pill-slide:hover:after {
  width: 100%;
}
.btn-pill-slide:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #ffc919;
}

/* -------------------------------------------------------------------------- */
/*                                   ASSETS                                   */
/* -------------------------------------------------------------------------- */

/* heading line */

.heading-line::before {
  display: block;
  padding-top: 0.1rem;
  content: "";
  width: 10rem;
  height: 0.1rem;
  background-color: white;
  margin: 0 auto;
}
.heading-line::after {
  display: block;
  padding-top: 0.4rem;
  content: "";
  width: 2rem;
  height: 0.2rem;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 1rem;
}

/* border */
.lineBorder {
  display: block;
  margin-top: 3.3rem;
  padding-top: 0.1rem;
  content: "";
  width: 35rem;
  background-color: white;
}

/* vertical divider */

.divider {
  border-right: 1px solid white;
}

/* -------------------------------------------------------------------------- */
/*                                  ALIGNMENT                                 */
/* -------------------------------------------------------------------------- */

.flex,.center,.align,.start,.end,.justify,.around,.between,.base,.justStart,.justEnd,
.col,.row,.wrap,.noWrap {
  display: flex;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}
.align {
  align-items: center;
}
.start {
  align-items: flex-start;
}
.end {
  align-items: flex-end;
}
.justify {
  justify-content: center;
}
.around {
  justify-content: space-around;
}
.even {
  justify-content: space-evenly;
}
.between {
  justify-content: space-between;
}
.base {
  justify-content: baseline;
}
.justStart {
  justify-content: flex-start;
}
.justEnd {
  justify-content: flex-end;
}
.col {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}
.noWrap {
  flex-wrap: nowrap;
}



/* -------------------------------------------------------------------------- */
/*                             FILL TEXT ANIMATION                            */
/* -------------------------------------------------------------------------- */
.fillText {
  color: transparent;
  position: relative;
  max-width: fit-content;
}
.fillText a{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

}
.fillText a:nth-child(1) {
  clip-path: polygon(0 0, 100% 0, 50% 50%);
}
.fillText a:nth-child(2) {
  clip-path: polygon(100% 0, 100% 100%, 50% 50%);
}
.fillText a:nth-child(3) {
  clip-path: polygon(0 100%, 50% 50%, 100% 100%);
}
.fillText a:nth-child(4) {
  clip-path: polygon(0 0, 50% 50%, 0 100%);
}
.fillText a:hover {
  clip-path: none;
  z-index: 2;
}
.fillText a:nth-child(1):hover ~ .text:before {
  --from: circle(0% at 50% 0%);
  --to: circle(150% at 0% 50%);
          animation: textfill 1s forwards;
}
 
.fillText a:nth-child(2):hover ~ .text:before {
  --from: circle(0% at 150% 50%);
  --to: circle(100% at 50% 50%);
          animation: textfill 1s forwards;
}
 
.fillText a:nth-child(3):hover ~ .text:before {
  --from: circle(0% at 50% 100%);
  --to: circle(150% at 0% 50%);
          animation: textfill 1s forwards;
}
 
.fillText a:nth-child(4):hover ~ .text:before {
  --from: circle(0% at 0% 50%);
  --to: circle(150% at 0% 50%);
          animation: textfill 1s forwards;
}